@media (min-width: 768px) {
  header .leftHeader, .rightHeader{
    padding: 18px 32px;
  }

  header .rightHeader .user_img, .cart_img{
    display: inline !important;
  }

  .goods-list{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    .goods-item {
      width: 24%;

      &:not(:nth-child(4n)){
        margin-right: 10px;
      }
      &:nth-child(n+5){
        margin-top: 10px;
      }
    }
  }
}

@media(min-width: 1600px) {
  header .leftHeader, .rightHeader{
    padding: 18px 23px;
  }
  .container{
    width: 1140px;
    margin: 0 auto;
  }
}